/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/assets/demo_data/public.zip

public/assets/demo_data/public.zip

/vendor

public/assets/demo_data/public.zip
/vendor
public/assets/demo_data/demo_data_taskify.sql

